<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restablecer contraseña</title>
    <link rel="stylesheet" href="{% static 'css/resetpass.css' %}">
</head>

<body>
    <h2>Restablecer tu contraseña</h2>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" autocomplete="username" hidden style="display:none;">

        <label>Nueva contraseña:</label>
        <input class="inputpass" type="password" name="pass" id="pass" autocomplete="new-password" required>

        <label>Confirmar nueva contraseña:</label>
        <input class="inputpass" type="password" name="pass2" id="pass-con" autocomplete="new-password"  required>

        <div class="checkpass">

            <input type="checkbox" class="checkpass" onclick="myFunction()"/> Mostrar Contraseña
        </div>

        <button type="submit" id="submit">Restablecer contraseña</button>
        <p style="text-align : center; color:red;" id="errorTxt">  </p>
        <p style="text-align : center; color:green;" id="successTxt">  </p>
        
    </form>

   
</body>
<script src="{% static "js/reset-pass1.js" %}" ></script>
<script>
    function myFunction() {
      var x = document.getElementById("pass");
      var y = document.getElementById("pass-con");
      if (x.type === "password") {
        x.type = "text";
        y.type='text'
      } else {
        x.type = "password";
        y.type = "password";
      }
    }
    </script>
</html>