{% extends 'base.html' %}

{% block title %}Dashboard - The Forest Wiki{% endblock %}

{% block content %}
<section style="color: #fff; min-height: 100vh; padding: 10px;">

    <h1 class="mb-4">Dashboard</h1>

<p>Bienvenido, {{ user_email }}</p>

<!-- Sells Table -->
<h3>Ventas</h3>
<table class="table table-bordered table-striped " >
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Product Price</th>
      <th>Product</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if sells %}
      {% for sell in sells %}
      <tr class="table-light">
        <td>{{ sell.sells_id }}</td>
        <td>{{ sell.user.user_email }}</td>
        <td>${{ sell.product.product_price }}</td>
        <td>{{ sell.product.product_name }}</td>
        <td>{{ sell.product_date }}</td>
        <td>
          <!-- Botón Editar -->
          <a href="{% url 'editar_sell' sell.sells_id %}" class="btn btn-sm btn-warning">Editar</a>

          <!-- Botón Eliminar -->
          <a href="{% url 'eliminar_sell' sell.sells_id %}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de eliminar esta venta?')">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr  class="table-light">
        <td colspan="4" class="text-center">No hay ventas disponibles</td>
      </tr>
    {% endif %}
  </tbody>
</table>

<!-- User Profiles Table -->
<h3>User Profiles</h3>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>User Name</th>
      <th>Phone</th>
      <th>Country</th>
      <th>Type</th>
      <th>Actions</th>
  
    </tr>
  </thead>
  <tbody>
    {% if profiles %}
      {% for profile in profiles %}
      <tr class="table-light">
        <td>{{ profile.user_id }}</td>
        <td>{{ profile.user_name }}</td>
        <td>{{ profile.user_phone }}</td>
        <td>{{ profile.user_country.country_name }}</td>
        <td>{{ profile.user.user_type.user_type_name }}</td>
        <td>
          <!-- Botón Editar -->
          <a href="{% url 'editar_perfil' profile.user_id %}" class="btn btn-sm btn-warning">Editar</a>

          <!-- Botón Eliminar -->
          <a href="{% url 'eliminar_perfil' profile.user_id %}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de eliminar este perfil?')">Eliminar</a>
        </td>

      </tr>
      {% endfor %}
    {% else %}
      <tr  class="table-light"> 
        <td colspan="5" class="text-center">No hay perfiles de usuario disponibles</td>
      </tr>
    {% endif %}
  </tbody>
</table>

</section>





{% endblock %}
