{% extends "base.html" %}
{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="container mt-5" style="min-height: 100vh; color: #fff;">
  <h2 class="mb-4">Editar Perfil</h2>

  <form method="POST">
 

    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ profile.user_name }}" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Teléfono</label>
      <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.user_phone }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">País</label>
        <select name="country" class="form-control" id="country" required>
          <option value="Chile" {% if country == "Chile" %}selected{% endif %}>Chile</option>
          <option value="Argentina" {% if country == "Argentina" %}selected{% endif %}>Argentina</option>
          <option value="Peru" {% if country == "Peru" %}selected{% endif %}>Peru</option>
          <option value="Colombia" {% if country == "Colombia" %}selected{% endif %}>Colombia</option>
          <option value="Mexico" {% if country == "Mexico" %}selected{% endif %}>Mexico</option>
          <option value="Uruguay" {% if country == "Uruguay" %}selected{% endif %}>Uruguay</option>
          <option value="Paraguay" {% if country == "Paraguay" %}selected{% endif %}>Paraguay</option>
          <option value="Bolivia" {% if country == "Bolivia" %}selected{% endif %}>Bolivia</option>
        </select>
      </div>

    <div class="mb-3">
        <label class="form-label">Type</label>
        <select class="form-control" id="userType" required value="{{user_type}}">
            <option value="user" {% if user_type == "user" %}selected{% endif %}>Usuario</option>
            <option value="admin" {% if user_type == "admin" %}selected{% endif %}>Administrador</option>
  
        </select>
      </div>

    <button type="submit" class="btn btn-primary" id="submitBtn">Guardar Cambios</button>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
  </form>

  <p style="text-align : center; color:red;" id="errorTxt">  </p>
                <p style="text-align : center; color:green;" id="successTxt">  </p>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'js/changeUser2.js' %}"></script>
{% endblock %}