{% extends "base.html" %}

{% load static %}

{% block title %}Registrarse-The forest Wiki{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "csslogin/login.css" %}  />
{% endblock %}

{% block content %}


{% if user_name %}

<section>
    <div class="row g-0">
        <div class="col-lg-7 d-none d-lg-block" style="display:flex" >
        
                  <div class=" img-1 " style="height: 100%;" >
                    <div class=" " style="height: 100%;  display: flex; flex-direction: column; justify-content: end; align-items: center;">
                      <h5 class="font-weight-bold">Wikipedia de The Forest</h5>
                      <a class="text-muted text-decoration-none">Visitanos</a>
                    </div>
                  </div>
                  
      </div>
        <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-100">
      
            <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
            <h1 class="font-weight-bold mb-4" id="subir">Ingrese sus Datos</h1>
            <form class="mb-5">
               
            <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label font-weight-bold">Nombre</label>
                <input type="text" class="form-control bg-dark-x border-0" id="nombre"  value={{user_name}} aria-describedby="emailHelp" style="background-color: #ffffff;">
              </div>

              <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label font-weight-bold">País</label>
                <input type="text" class="form-control bg-dark-x border-0" id="country" value={{user_country}} aria-describedby="emailHelp" style="background-color: #ffffff;">
              </div>
       
       


              <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label font-weight-bold">Versión</label>
                <select type="text" class="form-control bg-dark-x border-0" id="version" placeholder="nombre@ejemplo.com" aria-describedby="emailHelp" style="background-color: #ffffff;">
                    
                    <option value="the forest">Selecciona una versión </option>
                    <option value="the forest">The Forest</option>
                    <option value="son of the forest">Sons of the Forest</option>

                </select>

              </div>
       
             
              <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label font-weight-bold">Precio</label>
                <input type="text" class="form-control bg-dark-x border-0" id="precio"  aria-describedby="emailHelp" style="background-color: #ffffff;">
              </div>

              <input type="text" value={{user_id}} hidden id="userId" >
            

              </div>
  
                  <button id="submit" class="button">Comprar</button>
                  <div style="display:flex; width: 100% ; justify-content:center; align-items:center; text-align:center;">
                    <p style="text-align : center; color:red; text-align:center;" id="errorTxt">  </p>
                    <p style="text-align : center; color:green; text-align:center;" id="successTxt">  </p>
                </div>
               
            
              
                
              </form>
  
  
            </div>
           
        </div>
    </div>
  </section>

{% else %}

<section style="displey:flex; flex-direction:column; justify-content:center; align-items:center; min-height:100vh;">
    <div style="text-align:center; margin-top: 130px;">
        <h3>Inicia Session</h3>
        <p>Para acceder a la tienda, debes iniciar sesión primero.</p>
        <a href="{% url 'inicio_sesion' %}" class="btn btn-primary">Iniciar Sesión</a>
    </div>

</section>

{% endif %}
</section>



{% endblock %}

{% block scripts %}



<script>
  function myFunction() {
    var x = document.getElementById("pass");
    var y = document.getElementById("pass-con");
    if (x.type === "password") {
      x.type = "text";
      y.type='text'
    } else {
      x.type = "password";
      y.type = "password";
    }
  }
  </script>
<script src= {% static "js/shop.js" %} ></script>   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}


